
 .chef-section {
  padding: 80px 5%;
  background: #fff;
}

.chef-header {
  text-align: center;
  margin-bottom: 50px;
}

.chef-header span {
  font-size: 42px;
  font-weight: 700;
  color: #23B12C;
}

.chef-header p {
  font-size: 20px;
  color: #000;
  margin-top: 8px;
}

.chef-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.chef-card {
  background: transparent;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.chef-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}


.chef-image-wrapper {
  width: 90%;
  height: 380px; 
  margin: 0 auto 20px;
  overflow: hidden;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transition: all 0.3s ease;
}


.chef-image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: transform 0.4s ease;
}

.chef-card:hover .chef-image {
  transform: scale(1.05);
}

.chef-name {
  font-size: 20px;
  font-weight: 700;
  color: #101828;
  margin-top: 10px;
}

.chef-role {
  color: #23B12C;
  font-weight: 600;
  margin: 8px 0;
}

.chef-desc {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-top: 10px;
}

.medial {
  display: flex;
  gap: 14px;
  margin-top: 18px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: transparent;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
  border: 1px solid #ddd; 
}

.social-icon:hover {
  transform: translateY(-4px);
  border-color: transparent;
}


.social-icon.facebook:hover {
  background-color: #1877F2;
  color: #fff;
}

.social-icon.whatsapp:hover {
  background-color: #25D366;
  color: #fff;
}

.social-icon.instagram:hover {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
  color: #fff;
}


@media screen and (max-width: 896px) {
  .chef-section {
    padding: 60px 5% 70px;
  }

  .chef-header span {
    font-size: 36px;
  }

  .chef-header p {
    font-size: 18px;
  }

  .chef-grid {
    gap: 24px;
    grid-template-columns: 1fr; 
    padding: 0px 9px 0 4px ;
  }

  .chef-card {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1); 
  }

  .chef-image-wrapper {
    width: 85%;
    height: 320px;
  }

  .social-icon {
    width: 46px;
    height: 46px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .chef-image-wrapper {
    height: 280px;
  }

  .chef-name {
    font-size: 19px;
  }

  .chef-desc {
    font-size: 13.5px;
  }
}
