.all-dishes-container {
  padding: 110px 5%;
  background: #fafafa;
  min-height: 100vh;
}


.all-dishes-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 45px;
  color: #222;
  text-align: center;
}


.all-dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.dish-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  position: relative;
}

.dish-card:hover {
  transform: translateY(-8px);
}


.dish-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.dish-name {
  font-size: 18px;
  font-weight: 700;
  color: #222;
  margin-top: 14px;
}

.dish-category {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}


.all-dish-add-btn {
  width: 40%;
  padding: 8px;
  border-radius: 30px;
  border: none;
  background: #23B12C;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s ease;
}



.loading {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 120px 0;
}


@media (max-width: 768px) {
  .all-dishes-container {
    padding: 120px 5%;
  }

  .all-dishes-title {
    font-size: 30px;
  }

  .dish-image {
    height: 170px;
  }
}





/* =========================
   SPINNER PLACEHOLDER
========================= */
.skeleton-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
}

.spinner {
  width: 34px;
  height: 34px;
  border: 4px solid #eee;
  border-top: 4px solid #23B12C;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Invisible trigger */
.observer-trigger {
  height: 1px;
}




