.meal-container {
  padding: 70px 5% 70px 4.7%;
  background: #fafafa;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.meal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.meal-title {
  font-size: 36px;
  font-weight: 700;
}

.view-more-link {
  font-weight: 600;
  color: #22c55e;
  text-decoration: none;
}

.slider-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.meal-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.meal-slider::-webkit-scrollbar {
  display: none;
}

.meal-slider.active {
  cursor: grabbing;
}

.meal-cardss {
  max-width: auto;
  width: 230px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-shrink: 0;
}

.meal-cardss img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.meal-detailss {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.meal-detailss h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.meal-price-counrty-details {
  width: 100%;
}

.meal-detailss span {
  font-size: 14px;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;

}

.meal-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.meal-slider::-webkit-scrollbar {
  display: none;
}

.meal-slider.active {
  cursor: grabbing;
}

.meal-cardss {
  min-width: 260px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.meal-cardss img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.meal-detailss {
  padding: 15px;
}

.slider-arrow {
  position: absolute;
  bottom: -4%;
  transform: translateY(90%);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
  z-index: 10;
}

.slider-arrow.left {
  left: 33rem;
}

.slider-arrow.right {
  right: 33rem;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e5e7eb;
  border-top: 5px solid #22c55e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

.loading-text {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popular-view-details-btn {
  width: 40%;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  background-color: #23b12c;
  margin-left: 9rem;
  justify-content: center;
  align-items: center;
}

.popular-view-details-btn > p {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}

.link-card {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 896px) {
  .meal-container {
    padding: 70px 6% 20px 5%;
  }

  .slider-arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  .slider-arrow {
    display: none;
  }

  .meal-title {
    font-size: 20px;
  }

  .popular-view-details-btn{
width: 100%;
  margin-left: 0rem;

  }
}
