.all-meals-container {
  width: 100%;
  padding: 8rem 5%  3rem 4.8%;
  background: #fafafa;
  min-height: 100vh;
}


.all-meals-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #1f2937;
}


.all-meals-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}


.meal-cardss {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 45%; 
  max-width: 20%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.meal-cardss:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}


.meal-cardss img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.meal-cardss:hover img {
  transform: scale(1.05);
}


.meal-detailss {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.meal-detailss h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111827;
}

.meal-price-counrty-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.meal-price-counrty-details p {
  font-size: 18px;
  font-weight: 700;
  color: #22c55e;
  margin: 0;
}

.meal-price-counrty-details span {
  font-size: 14px;
  color: #6b7280;
  background: #f3f4f6;
  padding: 4px 10px;
  border-radius: 20px;
}


.popular-view-details-btn p {
  color: #fff;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}



.link-card {
  text-decoration: none;
  color: inherit;
}


.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 16px;
}

.loader-container.small {
  height: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e5e7eb;
  border-top: 5px solid #22c55e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.small-spinner {
  width: 32px;
  height: 32px;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 992px) {
  .meal-cardss {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {

  .meal-cardss img {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .meal-cardss img {
    height: 170px;
  }
  .meal-detailss h3 {
    font-size: 16px;
  }
  
  .meal-price-counrty-details p {
    font-size: 16px;
  }
   .popular-view-details-btn {
    margin-left: 190px;
   }
  .popular-view-details-btn p {
    font-size: 13px;
    /* padding: 8px 12px; */
  }
}
