
.shop {
  width: 100%;
  height: 100vh;
  padding: 100px 1% 100px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.9);
  gap: 60px;
}


.shop .text-block {
  flex: 1.2;
}

.shop .text-block > .shop-text-wrapper {
  max-width: 550px;
}


.shop .text-block span {
  display: block;
  font-size: 45px;
  font-weight: 700;
  color:#23B12C;
  line-height: 1.2;
  margin-bottom: 25px;
}


.shop .text-block p {
  color: #fff;
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 18px;
}


.shop .text-block .shop-btn-container {
  padding: 14px 35px;
  border: none;
  border-radius: 6px;
  background: #23B12C;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
 gap: 10px;
  transition: .3s ease;
}

.shop .text-block .shop-btn-container:hover {
  background: #057C37;
  color: #fff;
}
.shop-btn-container > a {
    text-decoration: none;
    color: #fff;
}


.shop .image-block {
    height: 400px;
 
  display: flex;
  justify-content: center;
 
}

.shop .image-block img {
  width: 100%;

  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 15px 45px rgba(0,0,0,0.18);
}


@media(max-width: 960px) {
  .shop {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 10rem 10px 40px 10px;
  }

  .shop .text-block > div {
    max-width: 100%;
  }

  .shop .image-block img {
    max-width: 360px;
  }
}
