/* .faq {
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.faq-container {
  text-align: center;
  max-width: 800px;
}

.faq h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #333;
}

.faq p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .faq h1 {
    font-size: 36px;
  }
  
  .faq p {
    font-size: 16px;
  }
} */




.faq-section {
  padding: 80px 6%;
  background: #f9fafb;
}

.faq-header {
  text-align: center;
  margin-bottom: 50px;
}

.faq-header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #23B12C;

}

.faq-header p {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-top: 10px;
}

/* FAQ Container */
.faq-container {
  max-width: 800px;
  margin: auto;
  
}

/* FAQ Item */
.faq-item {
  background: #101828;
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
  border-left: 1px solid #23B12C;
}

/* Question Button */
.faq-question {
  width: 100%;
  padding: 18px 22px;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

/* Icon */
.faq-icon {
  transition: transform 0.3s ease;
}

/* Answer */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 22px;
  transition: max-height 0.3s ease, padding 0.3s ease;
   border-left: 1px solid #23B12C;
}

.faq-answer p {
  color: #fff;
  font-size: 15px;
  line-height: 1.7;
  padding: 10px;
   border-left: 3px solid #23B12C;
}


.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 0 22px 18px;
   border-left: 1px solid #23B12C;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

/* Mobile */
@media (max-width: 768px) {
  .faq-header h1 {
    font-size: 28px;
  }
}

