/* Base Splash Screen */
.splash {
  background: #101828;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 0 1rem;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid #057c37;
  border-top: 10px solid #29ba2b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #29ba2b;
}

.logo span {
  opacity: 0;
  transform: translateY(20px) scale(0.8);
  display: inline-block;
  animation: fadeUp 0.5s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.dots {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dots span {
  width: 12px;
  height: 12px;
  background: #29ba2b;
  border-radius: 50%;
  display: block;
  animation: bounce 1s infinite;
}

@media screen and (max-width: 896px) {
  .splash {
    background: #101828;
    color: #fff;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }

  .spinner {
    width: 80px;
    height: 140px;
    border: 3px solid #057c37;
    border-top: 3px solid #29ba2b;
    margin-top: 200px;
    border-radius: 50%;
   
  }

  .logo {
    width: 100%;
    font-size: 40px;
  }
}

@media screen and (max-width: 896px) {
  .dots {
    margin-bottom: 40px;
  }
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  40% {
    transform: translateY(-15px);
    opacity: 1;
  }
}
