.footer {
  max-width: auto;
  background: #101828;
  color: #cbd5e1;
  font-family: "Segoe UI", sans-serif;
}


.footer-top {
  max-width: auto;
  margin: auto;
  padding: 60px 60px 60px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.footer-brand {
  max-width: auto;

}
.footer-logo {
  background-color: blue;


}

.footer-brand img {
  margin-right: 30px;
  width: 110px;
  object-fit: cover;
}

.footer-brand p {
  line-height: 1.7;
  font-size: 15px;
  color: #94a3b8;
  padding: 0px 0px 0px 5px;
}


.footer-links h3,
.footer-contact h3,
.footer-subscribe h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-links li svg {
  color: #22c55e;
}

.footer-links a {
  text-decoration: none;
  color: #cbd5e1;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #22c55e;
}


.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: #1f2937;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #22c55e;
  transform: translateY(-3px);
}


.address-title {
  margin-top: 20px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.6;
  color: #94a3b8;
}

.footer-address a {
  color: #22C55E;
  text-decoration: none;
  transition: color 0.3s;
}


.footer-subscribe p {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 15px;
}

.subscribe-box {
  display: flex;
  /* gap: 10px; */
}

.subscribe-box input {
  flex: 1;
  padding: 12px;
  border-radius: 0%;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  background: #1f2937;
  color: #fff;
}

.subscribe-box input::placeholder {
  color: #9ca3af;
}

.subscribe-box button {
  width: 50px;
  height: 42px;
  border: none;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
  background: #22c55e;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.subscribe-box button:hover {
  background: #16a34a;
}


.footer-bottom {
  background: #101828;
  text-align: center;
  padding: 18px;
  font-size: 14px;
  color: #94a3b8;
  border-top: 1px solid #1e293b;
}

.footer-bottom > p > span   {
  color: #16a34a;
}

@media (max-width: 600px) {
  .footer-top {
    padding: 40px 20px;
  }

  .footer-brand img  {
    width: 90px;
  }

 
}
