
.popular-container {
  padding: 70px 5% 70px 4.8%;
  background: whitesmoke;
  position: relative;
}


.popular-dishes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 36px;
  font-weight: 800;
  color: #222;
}

.popular-view-more-btn {
font-weight: bold;
  color: #23B12C;
  padding: 10px 22px;
  border-radius: 30px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}



.carousel-buttons {
  position: absolute;
  top: 29rem;
  left: 46%;
  display: flex;
  gap: 17px;
  z-index: 5;
}

.scroll-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #fff;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}


.dishes-grid {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.dishes-grid::-webkit-scrollbar {
  display: none;
}

.dish-card {
  min-width: 260px;
  background: #fff;
  border-radius: 18px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  position: relative;
}



.icon-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 10px;
}

.icon {
  background: #fff;
  width: 34px;
  height: 34px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.icon:hover {
  background: #23B12C;
  color: #fff;
}


.dish-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}


.dish-name-category {
 
  padding:10px 10px  20px 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
/* Text */
.dish-name {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.dish-category {
  font-size: 14px;
  color: #777;
}


.loading {
  text-align: center;
  padding: 80px 0;
  font-size: 22px;
  font-weight: 600;
}





@media (max-width: 768px) {

  .popular-container {
  padding: 70px 5.3% 70px 5%;
  }
  .title {
    font-size: 20px;
  }

  .carousel-buttons {
    display: none;
  }

  .dish-card {
    min-width: 230px;
  }
}
