
.infoContainer {
  display: grid;
  max-width: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
  padding: 80px 5% 80px 4.7%;
  place-items: center;
}


.infoCard {
  max-width: auto;
    width: 100%;
  background: #ffffff;
  padding: 45px 32px;
  border-radius: 18px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 10px 28px rgba(0,0,0,0.08);
  transition: 0.35s ease-in-out;
  cursor: default;
}

.infoCard:hover {
  border-color: #23B12C;
  transform: translateY(-6px);
  box-shadow: 0 18px 42px rgba(0,0,0,0.15);
}


.info-icon {
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  margin: 0 auto 18px;
  border-radius: 50%;
  background: linear-gradient(145deg, #057C37, #23B12C);
  border: 4px solid #fff;
  box-shadow: 0 4px 18px rgba(227,162,75,0.45);
  position: relative;
  overflow: hidden;
}


.icon-inner {
  font-size: 36px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.infor-Details h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #111;
}

.infor-Details p,
.infor-Details a {
  font-size: 15px;
  color: #555;
  text-decoration: none;
  line-height: 1.6;
}


.infor-Details a {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  text-decoration: none;
}

.infor-Details a:hover {
  color: #23B12C;
}


.info-map-wrapper {
    width: 100%;
    display: flex;
    background-color:#E6E6E6;
    padding: 0px 63px 0px 60px;
}

.info-map-container {
  width: 100%;
  height: 500px;
  margin: 50px auto;
  overflow: hidden;

  box-shadow: 0 12px 40px rgba(0,0,0,0.2);

}

.info-map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}



@media (max-width: 390px) {
  .info-map-wrapper  {
    padding: 0px;
  }
  .info-map-container {
    width: 100%;
    height: 250px;
   
    padding: 0;
  }
}


@media (max-width: 768px) {
  .infoContainer {
    padding: 60px 6%;
  }
}
