.checkoutformwrapper {
    width: 100%;
    padding: 40px;
    background-color: #fff;
}
.checkout-form-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px 20px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #101828;
  border-radius: 20px;

}

.checkout-title {
  text-align: center;
  font-size: 28px;
  color: #23b12c;
  margin-bottom: 25px;
  font-weight: 700;
}

.checkout-form {
    width: 100%;
    /* height: 200px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background-color: green; */
}

.checkout-form input {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.checkout-form input:focus {
  border: 2px solid #23b12c;
}

.checkout-btn {
  margin-top: 10px;
  padding: 14px;
  background-color: #23b12c;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #1a891f;
}

/* Mobile responsiveness */
@media (max-width: 896px) {
.checkoutformwrapper  {
    padding: 80px 0px;
}

  .checkout-form-container {
    margin: none;
    margin: 30px 15px;
    padding: 25px 10px 10px 10px;
  }

  .checkout-title {
    font-size: 24px;
  }

  .checkout-btn {
    font-size: 16px;
    padding: 12px;
  }
}


.checkout-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}



.btn-spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.checkout-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
