.contact-container {
  max-width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 80px 5% 80px 4.6%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  overflow: hidden;
}


.contact-text-wrapper {
  flex: 1;
  max-width: 550px;
}

.contact-text-wrapper span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #23B12C;
  line-height: 1.2;
}




.contact-text-wrapper p {
  font-size: 18px;
  line-height: 1.8;
  color: #000;
}

.button-container {
    width: 40%;
 padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;


    margin-top: 10px;
    border-radius: 5px;
    background-color: #0D8A34;
}

.button-container  > a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.button-container  > span {
    text-decoration: none;
    color: #fff;
      font-size: 15px;
}


.contact-image-wrapper {
  max-width: auto;
  flex: 1;
  display: flex;
  justify-content: flex-end;

  margin-top: 30px;

}

.contact-image-wrapper img {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}


@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 40px;
    display: flex;
    padding: 120px 5%;
  }

  .contact-image-wrapper {
    justify-content: center;
  }

  .contact-image-wrapper img {
    max-width: 100%;
  }

  .contact-text-wrapper span {
    font-size: 32px;
  }
  .button-container {
    width: 100%;
  }
  .button-container  > a  {
    font-size: 17px;
  }
  .button-container  > span  {
    font-size: 17px;
  }
}


.contact-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 4.6%;
  gap: 120px;
  border-bottom: 1px solid #fff;
  font-family: Arial, sans-serif;
max-width: auto;
  background-color: #e6e6e6;

}


.formContainer {
  flex: 1;
  max-width: 400px;
  height: fit-content;
    top: 100px;


   
}

.formContainer h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #23B12C;
}

.formContainer p {
  font-size: 16px;
  color: #000;
  margin-bottom: 35px;
  line-height: 1.6;
}


.formContainer form {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 18px;
  background-color: #101828;
  padding: 20px;
  border-radius: 10px;
}


.form-row {
  display: flex;
  gap: 15px;
}

.form-row input {
  flex: 1;
}


input,
textarea {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1.4px solid #ddd;
  border-radius: 10px;
  outline: none;
  background: #f9f9f9;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #111;
  background: #fff;
}


.contact-button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #0D8A34;
  color: #fff;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background: #23B12C;

}


.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 18px;
  object-fit: cover;

}


@media (max-width: 900px) {
  .contact-form-wrapper {
    flex-direction: column;
    padding: 60px 5%;
    text-align: center;

  }

  .formContainer {
    width: 100%;

  }

  .formContainer form {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  button {
    width: 100%;
  }

  .contact-image {
    display: none;
  }
}

